<div class="article_tags">

<?php
switch (App::getRouter()->getMethodPrefix()) {

  case 'admin_':

    foreach($data['article_tags'] as $tag) {?>

      <spma><a href="/admin/tags/view/<?=$tag['id']?>"><?=$tag['name']?></a>  </spma>
    <?php }
    break;

  case 'user_':

    foreach($data['article_tags'] as $tag) { ?>

      <spma><a href="/user/tags/view/<?=$tag['id']?>"><?=$tag['name']?></a>  </spma>
    <?php }
    break;

  case '':

   foreach($data['article_tags'] as $tag) { ?>

     <spma><a href="/tags/view/<?=$tag['id']?>"><?=$tag['name']?></a>  </spma>
    <?php }
    break;

  default:
    break;

};
?>
</div>
