<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_left.html" ?>
</div>

<div class="col-md-8">

    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."home".DS."home_parts".DS."home_carousel.html";?>
    </div>

    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."home".DS."home_parts".DS."home_users.html";?>
    </div>

    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."home".DS."home_parts".DS."home_topics.html";?>
    </div>

    <div class="col-md-12">
        <!--container for categories tree with news-->
        <?php echo $data['tree']; ?>
    </div>
    
</div>

<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_right.html" ?>
</div>