<div class="container">
    <div class="row">
        <div class="col-md-2">
            <form method="post">

                <div class="form-group">
                    <label for="title">Tag name</label>
                    <input type="text" name="tag_name" class="form-control" placeholder="Put tag name"/>
                </div>

                <input type="submit" class="btn btn-success" value="New tag"/>
            </form>
            </br></br>
        </div>
    </div>
    <div class="col-md-8">

        <div class="col-md-12">
            <b>
                <?php foreach ($data['tags'] as $tag) { ?>
                    <a href="/admin/tags/view/<?= $tag['id'] ?>"><?= $tag['name'] ?></a> &ensp;
                <?php } ?>
            </b>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
