<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_left.html" ?>
</div>

<div class="col-md-8">

    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."tags".DS."tags_parts".DS."tag_title.html";?>
    </div>

    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."tags".DS."tags_parts".DS."tag_article_pag.html";?>
    </div>

</div>

<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_right.html" ?>
</div>