<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_left.html" ?>
</div>
<div class="col-md-8">
    <form action="" method="post" class="form-group">

        <div class="form-group" >

            <label for="first_name"> First name </label>
            <input type="text" id="first_name" name="first_name" class="form-control"  placeholder="Enter your first name"/>
        </div>

        <div class="form-group">

            <label for="second_name"> Second name </label>
            <input type="text" id="second_name" name="second_name" class="form-control" placeholder="Enter your second name"/>
        </div>

        <div class="form-group">

            <label for="login_name"> Login name </label>
            <input type="text" id="login_name" name="login_name" class="form-control" placeholder="Enter your login name"/>
        </div>

        <div class="form-group">

            <label for="email"> Email address </label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email"/>
        </div>

        <div class="form-group">

            <label for="password"> Password </label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password"/>
        </div>

        <div class="form-group">

            <label for="date_of_birth"> Date of birth</label>
            <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" placeholder="Enter your date of birth"/>
        </div>

        <input type="submit" class="btn btn-success" value="Submit"/>
    </form>
</div>
<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_right.html" ?>
</div>



