<div class="col-md-2">


    <div class="col-md-12">

        <a href="/admin/news/add/">

            <button class="btn btn-sm btn-success">New article</button>
        </a>
        </br></br>
    </div>
  
</div>

<div class="col-md-8">
    
  <div class="col-md-12">

      <div class="col-md-2">

        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_filter.html"; ?>
      </div>

      <div class="col-md-10">

        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_index.html"; ?>
      </div>
  </div>

</div>

<div class="col-md-2">

</div>
