<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_left.html" ?>
</div>

<div class="col-md-8">

    <div class="col-md-2">
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_filter.html"; ?>
    </div>
    <div class="col-md-10">
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_index.html"; ?>
    </div>

</div>

<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_right.html" ?>
</div>
