<script type="text/javascript">
    var time_one = setInterval(function() {
        var o = 0;
        if (!o || Math.random() > 0.5) o = 1 + Math.floor(Math.random() * 5);
        $('.reading_now').text(""+o);
    },5000)
    $(document).ready(time_one)
</script>

<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_left.html" ?>
</div>

<div class="col-md-8">
    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_title.html"; ?>
    </div>
    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_pic_carousel.html"; ?>
    </div>
    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_text.html"; ?>
        </br>
    </div>
    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_tags.html"; ?>
        </br>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <?php include_once VIEWS_PATH.DS.'requests'.DS.'all_readers.html'?>
        </div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            Reading now <b class="reading_now"> 0 </b>
        </div>
    </div>
    <div class="col-md-12">
        <?php include_once VIEWS_PATH.DS."requests".DS."add_plus_minus.html"?>
        <?php include_once VIEWS_PATH.DS."news".DS."news_parts".DS."article_comments.html";?>
    </div>
</div>

<div class="col-md-2">
    <?php include_once VIEWS_PATH.DS."parts".DS."adv_right.html" ?>
</div>

